body{
    background-color: black;
}

video {
    width: 99vw;
    height: 99vh;
}

.intro-video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 99vh;
}

.start-button{
    text-align: center;
    width: 200px;
    height: 200px;
    position:relative;
    margin: -100px -100px;
    top:50%;
    left:50%;
    border-radius: 50%;
    background-image: url(../../assets/power-button-svgrepo-com.svg)
}

.intro-video-container p {
    font-family: joystix;
    color: white;
    margin-bottom: 200px;
}